version: "3.3"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - /home/devasc/jenkins_home:/var/jenkins_home
    security_opt:
      - seccomp:unconfined


